    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    img {
        max-width: 100%;
        display: block;
    }
    
    html,
    body {
        font-family: "Nunito", sans-serif;
        line-height: 1.5;
        scroll-behavior: smooth;
        letter-spacing: 1px;
    }
    
    *::-webkit-scrollbar {
        width: 5px;
        border-radius: 15px;
        scroll-behavior: smooth;
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: #131414;
        outline: 1px solid #131414;
    }
    /* .slide HEADER */
    
    .header_menu {
        position: absolute;
        max-width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: linear-gradient(0deg, #0040c1 0%, #002173 100%); */
    }
    
    .header_menu_2 {
        position: relative;
        max-width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(0deg, #0040c1 0%, #002173 100%);
    }
    
    .logo img {
        width: 100%;
        height: auto;
    }
    
    .col-lg-3 {
        flex: 0 0 15%;
        width: 15%;
    }
    
    .col-lg-6 {
        flex: 0 0 65%;
        width: 65%;
    }
    
    .col-lg-2 {
        flex: 0 0 20%;
        width: 20%;
    }
    
    .col-lg-6-1 {
        flex: 0 0 70%;
        width: 60%;
    }
    
    .col-lg-3-1 {
        flex: 0 0 30%;
        width: 30%;
    }
    
    ul.menu {
        display: flex;
        justify-content: center;
    }
    
    ul.menu li.menu-item a.link {
        text-transform: uppercase;
        padding: 10px 20px;
        color: #ffffff;
        font-weight: 600;
        display: block;
    }
    
    ul.menu li.menu-item a.link:hover {
        color: #0040c1;
        background-color: #ffffff;
        font-weight: bold;
    }
    /* MEGA MENU */
    
    .menu {
        align-items: center;
        display: flex;
    }
    
    .menu_child {
        position: absolute;
        left: 20%;
        background-color: white;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: 0.25s linear;
        width: 980px !important;
        padding: 20px 30px;
        z-index: 999;
    }
    
    .menu-item:hover .menu_child {
        opacity: 1;
        visibility: visible;
    }
    
    .menu_child_item {
        width: 33.3333%;
    }
    
    .menu_child_item h4 {
        font: 20px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline;
        border-bottom: 1px solid #131414;
        padding-bottom: 5px;
    }
    
    .menu_child_list li {
        padding: 20px 0;
        display: block;
    }
    
    .menu_child_list li a {
        color: #131414 !important;
    }
    
    .menu_child_list li a:hover {
        color: #0040c1 !important;
    }
    /* HEADER ICON */
    
    .icon-header {
        display: flex;
        justify-content: center;
    }
    
    .icon-header a {
        margin: 0 25px;
        color: #ffffff;
        display: block;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    
    .icon-user a,
    .icon-search a,
    .icon-cart a {
        position: relative;
    }
    
    .icon-user img {
        border-radius: 50%;
        width: 35px;
        height: 30px;
    }
    
    .header_bg_login {
        width: 100%;
        background: linear-gradient( 0deg, rgba(26, 26, 27, 0.959), rgba(10, 11, 14, 0.8)), url(../img/dang_nhap.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header_bg_register {
        width: 100%;
        background: linear-gradient( 0deg, rgba(26, 26, 27, 0.959), rgba(10, 11, 14, 0.8)), url(../img/dang_ky.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header_content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        text-align: center;
        width: 1048px !important;
        display: block;
    }
    
    .header_content_middle h4 {
        font-size: 40px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 30px 0;
        margin-bottom: 20px;
    }
    
    .header_content_middle h4::after {
        background-color: #ffffff;
        content: "";
        display: block;
        left: 48%;
        height: 3px;
        width: 60px;
        position: absolute;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .header_content_middle p {
        color: #ffffff;
        font-size: 20px;
        line-height: 35px;
        padding-bottom: 30px;
    }
    
    .header_content_middle_fixed h4 {
        font-size: 40px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 30px 0;
        margin-bottom: 20px;
    }
    
    .header_content_middle_fixed p {
        color: #ffffff;
        font-size: 20px;
        line-height: 35px;
        padding-bottom: 60px;
    }
    
    .header_page a {
        color: #ffffff;
        font-weight: 600;
        font-size: 22px;
    }
    
    .header_page a.page_curent {
        color: #ffcd3e;
    }
    
    .header_page i {
        margin: 0 8px;
    }
    
    .main {
        background: url("../img/bg_main.jpg");
    }
    
    .container {
        width: 1380px;
        margin: 0 auto;
    }
    
    .container_fixed {
        width: 1024px;
        margin: 0 auto;
    }
    
    .container_md2 {
        width: 580px;
        margin: 0 auto;
    }
    
    .row_md {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col-md-5 {
        flex: 0 0 50%;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-4 {
        flex: 0 0 25%;
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-3-1 {
        flex: 0 0 30%;
        width: 30%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-7-1 {
        flex: 0 0 70%;
        width: 70%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-4-1 {
        flex: 0 0 40%;
        width: 40%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-6-1 {
        flex: 0 0 60%;
        width: 60%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-1 {
        flex: 0 0 100%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* FOOTER */
    
    .footer_body {
        background-color: #131414;
        width: 100%;
        padding: 35px 50px;
    }
    
    .col_footer {
        color: #ffffff;
    }
    
    .col_footer img {
        width: 280px;
        height: auto;
        padding-bottom: 10px;
    }
    
    .col_footer .address {
        margin-top: 20px;
    }
    
    .col_footer .address i {
        margin-right: 8px;
    }
    
    .col_footer .address .row_address {
        margin-bottom: 20px;
    }
    
    .col_footer li {
        padding: 12px 0;
    }
    
    .col_footer li i {
        margin-right: 8px;
    }
    
    .col_footer .address a,
    .col_footer li a {
        color: #ffffff;
    }
    
    .col_footer li a:hover {
        color: #0040c1;
        transition: all 0.5s;
    }
    
    .icon_media {
        display: flex;
    }
    
    .icon_media a {
        margin-right: 25px;
    }
    
    .icon_media a img {
        height: 40px;
        width: 30px;
        margin-bottom: 40px;
    }
    
    .header_footer h4 {
        font-size: 20px;
    }
    
    .header_footer h4::after {
        background-color: #ffffff;
        content: "";
        display: block;
        height: 2px;
        width: 50px;
        position: absolute;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .header_footer ul,
    .icon_media {
        margin-top: 40px;
    }
    
    .protected_img {
        display: flex;
    }
    
    .protected_img img {
        width: 140px;
        object-fit: contain;
        height: auto;
        margin-right: 35px;
    }
    
    .footer_end {
        background-color: #131414;
        color: #ffffff;
        text-align: center;
        border-top: 1.5px solid #ffffff;
    }
    
    .footer_end .footer_end_title {
        padding: 25px 0;
    }
    
    .footer_end .footer_end_title p {
        padding-bottom: 10px;
    }
    
    .footer_end .footer_end_title span {
        font-size: 18px;
        font-weight: bold;
    }
    /* LOGIN */
    
    .form {
        padding: 50px 0;
    }
    
    .form-box {
        background-color: #ffffff;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        display: block;
    }
    
    .list {
        position: relative;
        width: 100%;
    }
    
    .top-area::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .top-area-fixed::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .top-area li a:hover::after {
        background-color: #ffffff;
        content: "";
        height: 5px;
        position: absolute;
        transition: all 0.5s ease-in-out;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    
    .top-area li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        color: #ffffff;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        background: #0239AB;
        transition: .5s ease;
        position: relative;
    }
    
    .top-area-fixed li {
        display: block;
        text-decoration: none;
        padding: 15px;
        color: #ffffff;
        font-size: 20px;
        width: 100%;
        text-align: center;
        background: #0239AB;
        transition: .5s ease;
        position: relative;
    }
    /* .top-area li a:hover {
background: #0239AB;
color: #ffffff;
} */
    /* .top-area .active a {
background: #0239AB;
color: #ffffff;
} */
    
    .tab-content>div:last-child {
        display: none;
    }
    
    .tab-content-register>div:first-child {
        display: none;
    }
    
    input.infor {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        margin: 15px 0;
        outline: none;
        background-color: #0239ab;
        border-radius: 8px;
        color: #ffffff;
    }
    
    .input-area {
        width: 100%;
        padding: 15px 20px;
    }
    
    input.infor::placeholder {
        color: rgba(255, 255, 255, 0.8);
    }
    
    .label-field,
    .option {
        padding: 0px 20px;
    }
    
    .label-field {
        position: relative;
    }
    
    .input-box {
        padding: 20px 0px;
        display: block;
    }
    
    .option {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: #0239AB;
    }
    
    .option label a {
        color: 18px;
    }
    
    .button-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    
    button.button {
        padding: 15px 20px;
        font-size: 24px;
        font-weight: 600;
        background: #2A5DFC;
        color: #ffffff;
        transition: all 0.5s ease;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    }
    
    button.check-btn {
        padding: 15px 20px;
        font-size: 24px;
        font-weight: 600;
        background: #2A5DFC;
        color: #ffffff;
        transition: all 0.5s ease;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    }
    
    #login p {
        text-align: center;
        color: #333333;
        padding: 20px 0;
        font-size: 18px;
    }
    
    #signup p {
        font-size: 18px;
        text-align: center;
        color: #0B2F83;
    }
    
    #forgot p {
        font-size: 18px;
        text-align: center;
        color: #0B2F83;
        padding: 10px 0;
    }
    
    .captcha-area {
        text-align: center;
    }
    
    .codecap {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
    }
    
    .codecap p {
        flex: 2;
    }
    
    .captcha {
        flex: 1;
    }
    
    .reload-btn {
        flex: 1;
        font-size: 16px;
    }
    
    .label-field-2 .captcha {
        margin-left: 10px;
        color: #333333;
        padding: 10px 20px;
        font-size: 20px;
    }
    
    .tab-content-forgot p,
    .status-text {
        padding: 10px 0;
        text-align: center;
    }
    /* PROFILE USER PAGE */
    
    .header_bg_profile {
        width: 100%;
        background: linear-gradient( 0deg, rgba(26, 26, 27, 0.959), rgba(10, 11, 14, 0.8)), url(../img/background_user_profile.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .profile {
        padding: 50px 0;
    }
    
    .profile_left table {
        background-color: #ffffff;
        width: 100%;
        border-collapse: collapse;
    }
    
    .profile_left table tr td {
        padding: 10px 20px;
        border: 1px solid #cabfbf8a;
    }
    
    .profile_left table tr td a {
        color: #000000;
        font-size: 18px;
    }
    
    .profile_left table tr td a.active {
        color: #0033D1;
        font-size: 18px;
    }
    
    .profile_left table tr td a:focus,
    .profile_left table tr td a:hover {
        color: #0033D1;
        font-size: 18px;
    }
    
    .profile_left table tr td:first-child {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        color: #333333;
        font-size: 22px;
    }
    
    .profile_left table tr td img {
        height: 55px;
        width: 55px;
        border-radius: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 15px;
    }
    
    .profile_right {
        background-color: #ffffff;
    }
    
    .profile_right_top h3 {
        font-size: 24px;
        color: #333333;
        padding: 8px 30px;
    }
    
    hr {
        border: 1px solid #2A5DFC;
    }
    
    .input_infor,
    .order,
    .order_detail,
    .sum {
        padding: 20px 35px;
    }
    
    .form_row {
        display: flex;
        width: 100%;
        padding: 15px 0;
    }
    
    .name {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .name p {
        color: #333333;
        font-size: 18px;
    }
    
    .input_value input {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        outline: none;
        border-radius: 8px;
        border: 0.5px solid #000000;
    }
    
    .form_button {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
    
    .form_button button.submit_user {
        padding: 15px 30px;
        font-size: 22px;
        background: #2A5DFC;
        color: #ffffff;
        transition: all 0.5s ease;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    }
    
    .form_button button.submit_user:hover {
        background-color: #1913BB;
    }
    
    .link_forgot {
        width: 100%;
    }
    
    .link_forgot a {
        color: #2A5DFC;
        float: right;
    }
    /* CHANGE PASS USER PAGE */
    
    .header_bg_changepass {
        width: 100%;
        background: linear-gradient( 0deg, rgba(26, 26, 27, 0.959), rgba(10, 11, 14, 0.8)), url(../img/background_user_change.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* ORDER USER PAGE */
    
    .header_bg_order {
        width: 100%;
        background: linear-gradient( 0deg, rgba(26, 26, 27, 0.959), rgba(10, 11, 14, 0.8)), url(../img/background_user_order.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .order table.table {
        background-color: #ffffff;
        width: 100%;
        border-collapse: collapse;
    }
    
    .order table.table tr th {
        color: #002040;
        font-size: 18px;
        padding: 15px 0;
    }
    
    .order table.table tr th:first-child {
        float: left;
    }
    
    .order table.table tr td {
        border-top: 1px solid #cabfbf8a;
        font-size: 18px;
        color: #333333;
    }
    
    .order table.table tr td p.infor_text {
        text-align: center;
    }
    
    .order table.table tr td .img_order_product {
        display: flex;
        align-items: center;
        padding: 15px 0;
    }
    
    .order table.table tr td.btn_order {
        width: 100%;
        border: none;
    }
    
    .order table.table tr td.btn_order .button_order {
        display: flex;
        padding: 10px 0;
        justify-content: right;
    }
    
    .order table.table tr td.btn_order .button_order button {
        box-sizing: border-box;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 20px;
        padding: 10px 30px;
        border: 1px solid #2A5DFC;
    }
    
    .order table.table tr td.btn_order .button_order button.submit_order_review {
        color: #ffffff;
        background-color: #2A5DFC;
        transition: 0.5s;
    }
    
    .order table.table tr td.btn_order .button_order button.submit_order_review:hover {
        color: #ffffff;
        background-color: #1913BB;
    }
    
    .order table.table tr td.btn_order .button_order button.submit_order_detail {
        color: #2A5DFC;
        transition: 0.5s;
        background-color: #ffffff;
    }
    
    .order table.table tr td.btn_order .button_order button.submit_order_detail:hover {
        color: #ffffff;
        transition: 0.5s;
        background-color: #2A5DFC;
    }
    
    .order table.table tr td .img_order_product img {
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin-right: 15px;
        height: 80px;
    }
    /* ORDER DETAIL PAGE */
    
    .order_detail table.table2 {
        background-color: #ffffff;
        width: 100%;
        border-collapse: collapse;
    }
    
    .order_detail table.table2 tr th {
        color: #002040;
        font-size: 18px;
        padding: 15px 0;
    }
    
    .order_detail table.table2 tr th:first-child {
        float: left;
    }
    
    .order_detail table.table2 tr td {
        border-top: 1px solid #cabfbf8a;
        border-bottom: 1px solid #cabfbf8a;
        font-size: 18px;
        color: #333333;
        padding: 15px 0;
    }
    
    .order_detail table.table2 tr td p.infor_text {
        text-align: center;
        color: #333333;
    }
    
    .infor_customer {
        padding: 15px 0;
    }
    
    .infor_customer h3 {
        font-size: 20px;
        color: #333333;
        margin: 10px 0;
        padding-bottom: 10px;
    }
    
    .infor_customer p {
        font-size: 18px;
        color: #333333;
    }
    
    .table_infor {
        padding-bottom: 20px;
    }
    
    .table_infor .table_list table.table3 {
        width: 100%;
        border-collapse: collapse;
    }
    
    .table_infor .table_list table.table3 tr th {
        background-color: #2A5DFC;
        font-size: 20px;
        color: #ffffff;
        padding: 10px 20px;
    }
    
    .table_infor .table_list table.table3 tr th:first-child {
        display: flex;
    }
    
    .table_infor .table_list table.table3 tr td {
        border-top: 1px solid #cabfbf8a;
        font-size: 18px;
        color: #333333;
        padding: 15px 0;
    }
    
    .table_infor .table_list table.table3 tr td .img_order_product {
        display: flex;
        align-items: center;
        padding: 15px 20px;
    }
    
    .table_infor .table_list table.table3 tr td .img_order_product img {
        height: 70px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin-right: 15px;
        width: 120px;
    }
    
    .table_infor .table_list table.table3 tr td p.infor_text {
        text-align: center;
        color: #333333;
    }
    /* VOTE PRODCUT PAGE */
    
    .star_rating {
        display: flex;
        padding: 20px 25px;
        justify-content: space-around;
    }
    
    .star_rating .rating {
        padding: 10px 25px;
        background: #FFFFFF;
        border: 1px solid #F25700;
        box-sizing: border-box;
        border-radius: 8px;
        color: #f25700;
        display: flex;
    }
    
    .star_rating .rating:hover,
    .star_rating .rating.active {
        background-color: #f25700;
        color: white;
        cursor: pointer;
    }
    
    .vote_text {
        padding: 0 25px;
    }
    
    .vote_text textarea {
        width: 100%;
        background: rgba(196, 196, 196, 0.51);
        padding: 15px 20px;
        font-size: 18px;
        font-family: "Lato", sans-serif;
        height: 200px;
        border: none;
        outline: none;
    }
    
    .button_order {
        display: flex;
        justify-content: right;
        padding: 15px 25px;
    }
    
    .button_order button {
        background: #2A5DFC;
        border-radius: 5px;
        color: #ffffff;
        padding: 10px 30px;
        border: 1px solid #2A5DFC;
        font-size: 18px;
        cursor: pointer;
    }
    /* CART PAGE */
    
    .header_bg_cart {
        width: 100%;
        background: linear-gradient( 0deg, rgba(26, 26, 27, 0.959), rgba(10, 11, 14, 0.8)), url(../img/background_user_cart.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .table_cart {
        padding: 50px 0;
    }
    
    .table_cart .table_total table.table4 {
        width: 100%;
        border-collapse: collapse;
    }
    
    .table_cart .table_total .scroll {
        overflow-y: scroll;
        margin: 20px 0;
        height: 450px;
    }
    
    .table_cart .table_total table.table4 tr th:first-child {
        display: flex;
    }
    
    .table_total table.table4 tr th {
        background-color: #ffffff;
        font-size: 20px;
        color: #333333;
        padding: 10px 20px;
    }
    
    .table_total table.table4 tbody {
        margin: 20px 0;
        overflow-y: scroll;
    }
    
    .table_total table.table4 tr td {
        border-top: 1px solid #cabfbf8a;
        font-size: 18px;
        color: #333333;
        background-color: #ffffff;
        padding: 15px 0;
    }
    
    .table_cart .table_total table.table4 tr td .img_order_product {
        display: flex;
        align-items: center;
        padding: 15px 20px;
    }
    
    .table_cart .table_total table.table4 tr td .img_order_product img {
        height: 80px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin-right: 15px;
        margin-left: 15px;
        width: 140px;
    }
    
    .table_cart .table_total table.table4 tr td .img_order_product a {
        font-size: 16px;
    }
    
    .table_cart .table_total table.table4 tr td p.infor_text {
        text-align: center;
        color: #333333;
    }
    
    .table_cart .table_total table.table4 tr td i {
        color: #2A5DFC;
        cursor: pointer;
    }
    
    .number_of_products {
        display: flex;
        align-items: center;
        padding: 15px 0;
        justify-content: center;
    }
    
    .is-form {
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        height: 2.2rem;
        width: 1.9rem;
        padding: 0;
        text-shadow: 1px 1px 1px #fff;
        border: 1px solid #ddd;
    }
    
    .minus {
        border-radius: 4px 0 0 4px;
        font-size: 20px;
        width: 50px;
        height: 45px;
    }
    
    .plus {
        width: 50px;
        font-size: 20px;
        height: 45px;
        border-radius: 0 4px 4px 0;
    }
    
    .input-qty {
        background-color: #fff;
        text-align: center;
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        height: 45px;
        padding: 0;
    }
    
    .bottom_table {
        background-color: #ffffff;
        padding: 20px 15px
    }
    
    .toltal_price_produce {
        font-size: 20px;
    }
    
    .button_total {
        display: flex;
        margin: 40px 0;
        width: 100%;
        justify-content: space-between;
    }
    
    .btn_continue a {
        color: #2A5DFC;
        text-transform: uppercase;
        background: #FFFFFF;
        border: 2px solid #2A5DFC;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 15px;
        transition: 0.5s;
    }
    
    .btn_buy a {
        color: #FFFFFF;
        text-transform: uppercase;
        background: #2A5DFC;
        border: 2px solid #2A5DFC;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 35px;
    }
    
    .btn_continue a:hover {
        color: #ffffff;
        background-color: #0040c1;
    }
    
    .input-qty::-webkit-outer-spin-button,
    .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* PAGE BUY PRODCUT */
    
    .form_buy {
        padding: 50px 0px;
        position: relative;
    }
    
    .inout_finish {
        background-color: #ffffff;
    }
    
    .form_buy .infor_left,
    .form_buy .infor_right {
        padding: 40px 20px;
    }
    
    .infor_left h3,
    .infor_right h3 {
        color: #000000;
        font-size: 22px;
        padding-bottom: 15px;
    }
    
    .infor_left .check_cus {
        color: #333333;
        margin: 20px 40px;
    }
    
    .infor_left .input_cus input {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        outline: none;
        border-radius: 8px;
        border: 0.5px solid #000000;
        margin: 10px 0;
    }
    
    .infor_left .input_cus textarea {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        outline: none;
        border-radius: 8px;
        border: 0.5px solid #000000;
        margin: 10px 0;
    }
    
    .infor_right_table table tr td .img_order_product img {
        height: 70px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin-right: 15px;
        width: 120px;
    }
    
    .infor_right_table table {
        border-collapse: collapse;
        width: 100%;
    }
    
    .infor_right_table table tr th {
        color: #000000;
        font-size: 18px;
        padding: 15px 0;
    }
    
    .infor_right_table table tr th:first-child {
        float: left;
    }
    
    .infor_right_table table tr th:last-child {
        float: right;
    }
    
    .infor_right_table table tr td {
        border-top: 1px solid #cabfbf8a;
        color: #333333;
        padding: 15px 0;
    }
    
    .infor_right_table table tr td p.infor_text {
        float: right;
    }
    
    .infor_right_table table tr td .img_order_product {
        display: flex;
        align-items: center;
    }
    
    .infor_right_table table tr td .img_order_product p {
        font-size: 16px;
    }
    
    .infor_right_table table tr td .img_order_product a {
        font-size: 16px;
        color: #2A5DFC;
    }
    
    .infor_right_table table tr td .img_order_product img {
        height: 70px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin-right: 15px;
        width: 120px;
    }
    
    .number_of_products {
        display: flex;
        align-items: center;
        padding: 15px 0;
    }
    
    .is-form {
        overflow: hidden;
        position: relative;
        background-color: #f9f9f9;
        height: 25px;
        width: 20px;
        padding: 0;
        text-shadow: 1px 1px 1px #fff;
        border: 1px solid #ddd;
    }
    
    .minus {
        border-radius: 4px 0 0 4px;
        font-size: 20px;
        width: 30px;
        height: 35px;
    }
    
    .plus {
        width: 30px;
        font-size: 20px;
        height: 35px;
        border-radius: 0 4px 4px 0;
    }
    
    .input-qty {
        background-color: #fff;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        height: 35px;
        padding: 0;
    }
    
    .input-qty::-webkit-outer-spin-button,
    .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    .row_money {
        display: flex;
        justify-content: space-between;
    }
    
    .infor_right_table table tr td input.code {
        width: 100%;
        padding: 10px;
        background: #E3EDFF;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    
    .rules {
        margin: 20px 0;
    }
    
    .infor_right_table table tr td button.btn_apply {
        padding: 10px 40px;
        float: right;
        background: #2A5DFC;
        border-radius: 5px;
        color: #ffffff;
        outline: none;
        cursor: pointer;
        border: 1px solid #2A5DFC;
    }
    
    .clause_payment {
        border-top: 1px solid #ddd;
        padding: 15px 0;
        position: relative;
    }
    
    .clause_payment_text p {
        color: #333333;
        margin-left: 20px;
        padding: 10px 0;
    }
    
    .rules .button_click_buy button.apply {
        padding: 10px 40px;
        float: right;
    }
    
    .rules .button_click_buy button {
        box-sizing: border-box;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 20px;
        padding: 10px 30px;
        color: #ffffff;
        background-color: #2A5DFC;
        border: 1px solid #2A5DFC;
        font-size: 24px;
    }
    
    .line {
        border-right: 1px solid #2A5DFC;
    }
    /*SUCCESS PAGE */
    
    .container_fixed {
        width: 630px;
        margin: 0 auto;
    }
    
    .success_box {
        padding: 50px 0;
    }
    
    .top {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        align-items: center;
    }
    
    .top i {
        font-size: 34px;
        color: #2A5DFC;
        margin: 0 10px;
    }
    
    .top h2 {
        font-size: 30px;
        color: #333333;
    }
    
    .succes_detail {
        background-color: #ffffff;
        padding: 10px 20px;
    }
    
    .infor_success {
        padding: 20px 0;
    }
    
    .success_btn {
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0;
    }
    
    .success_btn a {
        background: #2A5DFC;
        border-radius: 5px;
        color: #FFFFFF;
        padding: 10px 35px;
    }